<% title "Tristen Unrau's Fiasco Playsets", true %>
<%#
-----------
FiASCO PAGE
-----------
%>


<h5><%= icon('newspaper-o') %> Fiasco Playsets</h5>
<h6>Fiasco is a wonderful cooperative story-telling game by <a href="http://bullypulpitgames.com/games/fiasco/">Bully Pulpit Games</a>.</h6>

<p>Scenarios are generated using <strong>playsets</strong>, which affect the setting of the game, and the different types of relationships, locations, and objects available. Using playsets, you can change the entire genre and mood of the game.</p>

<p>Here are the playsets I've created:</p>

<div class="fiasco-playset">
  <%= image_tag "fiasco/turbulent-cover-2e.png", class: 'playset-cover' %>
  <div class="playset-info">
    <h5 class="playset-title">The Voyages of the Starship Turbulent</h5>
    <h6 class="playset-subtitle">A Sci-Fi Satire Fiasco Playset by Tristen Unrau</h6>
    <table>
      <tbody>
        <tr>
          <td>Edition</td>
          <td>2nd</td>
        </tr>
        <tr>
          <td>RPG Geek Page:</td>
          <td><a href="http://rpggeek.com/rpgitem/196206/voyages-starship-turbulent"><%= icon('external-link') %> Visit</a></td>
        </tr>
        <tr>
          <td>Playset</td>
          <td><a href="/files/fiasco/the_voyages_of_the_starship_turbulent_2e.pdf" class="button-square button-red"><%= icon('download') %> PDF</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="fiasco-playset">
  <%= image_tag "fiasco/gamecards.png", class: 'playset-cover' %>
  <div class="playset-info">
    <h5 class="playset-title">Fiasco Game Cards</h5>
    <h6 class="playset-subtitle">Universal Game Cards based on the original design by Wil Wheaton</h6>
    <table>
      <tbody>
        <tr>
          <td>Game Cards</td>
          <td><a href="/files/fiasco/fiasco_game_cards.pdf" class="button-square button-red"><%= icon('download') %> PDF</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<p>&nbsp;</p>
<%= link_to 'Go Back', root_path, class: 'button' %>
