<% title '' %>
<%#
---------
HOME PAGE
---------
%>

<div id="content-home">

  <div class="home-section-wrapper" id="introduction-wrapper">
    <div class="home-section" id="introduction">
      <%= image_tag "tristen.png", id: 'tristen' %>
      <div id="blurb">
        <h6>
          I write the words that manifest realms...<br />
          I send photons of my devising into your eyeballs...<br />
        </h6>
        <p>
          <span class="doer">Career:</span> MVC Front-End Web Developer<br />
          <span class="doer">Hobby:</span> Fiction Writer, Game Developer, Comedy Folk Singer / Song Writer<br />
          <span class="doer">Self-Proclaimed:</span> Chocolate Milk Connoisseur
        </p>
        <p><a href="mailto:tristen@unrau.me" class="button-square button-red"><%= icon('envelope') %> Email Me</a></p>
      </div>
    </div>
  </div>

  <%# STUFF %>
  <div class="home-section-wrapper" id="stuff-wrapper">
    <div class="home-section button-row" id="stuff">
      <h5>My Stuff</h5>
      <ul>
        <li><a href="/wallpapers" class="button-square button-red"><%= icon('desktop') %> Desktop Wallpapers</a></li>
        <li><a href="/fiasco" class="button-square button-red"><%= icon('newspaper-o') %> Fiasco Playsets</a></li>
      </ul>
    </div>
  </div>

  <%# WEBSITES %>
  <div class="home-section-wrapper" id="websites-wrapper">
    <div class="home-section" id="websites">
      <h5>My Websites</h5>
      <table>
        <tbody>
          <tr>
            <td>
              <a href="http://hownowbrowncow.ca" target="_blank" class="button-square button-red"><%= icon('external-link') %> How Now Brown Cow</a>
            </td>
            <td>
              Where I review chocolate milk!
            </td>
          </tr>
          <tr>
            <td>
              <a href="http://daxripley.com" target="_blank" class="button-square button-red"><%= icon('external-link') %> Dax Ripley</a>
            </td>
            <td>
              Where I sing funny songs!
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <%# WEBSITES %>
  <div class="home-section-wrapper" id="blog-home-wrapper">
    <div class="home-section" id="blog-home">
      <h5>My Blog</h5>

      <% if @articles.any? %>
        <table class="u-full-width">
          <tbody>
            <% @articles.each do |a| %>
              <tr>
                <td>
                  <%= link_to article_path(a)  do %>
                    <%= icon('file-text') %> <%= a.title %>
                  <% end %>
                </td>
                <td><%= a.created_at.strftime("%d %b %Y") %></td>
                <% if logged_in? && admin_user?(current_user) %>
                  <td><%= link_to 'Edit', edit_article_path(a) %> <%= link_to 'Delete', article_path(a), method: :delete, data: { confirm: 'Are you sure you want to delete this post? This cannot be un-done.'} %></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= will_paginate @articles %>
      <% else %>
        <p>No posts here yet.</p>
      <% end %>
    </div>
  </div>

</div>
