<% title '' %>
<%#
---------
HOME PAGE
---------
%>

<div id="content-home">

  <div class="home-section-wrapper" id="introduction-wrapper">
    <div class="home-section" id="introduction">
      <%= image_tag "tristen.png", id: 'tristen' %>
      <div id="blurb">
        <h6 class="highlight">
          I write the words that manifest realms...<br />
          I send photons of my devising into your eyeballs...<br />
        </h6>
        <p>
          <span class="doer">Career:</span> MVC Front-End Web Developer —<br />
          <span class="doer">Hobby:</span> Fiction Writer, Game Developer, Comedy Folk Singer / Song Writer —<br />
          <span class="doer">Self-Proclaimed:</span> Chocolate Milk Connoisseur —
        </p>
        <p id="email-button"><a href="mailto:tristen@unrau.me"><button class="red-button"><%= icon('envelope') %> Email Me</button></a></p>
      </div>
    </div>
  </div>

  <%# PAGES %>
  <div class="home-section-wrapper" id="stuff-wrapper">
    <div class="home-section button-row" id="stuff">
      <h5 class="section-title">Pages</h5>
      <ul>
        <li><a href="/wallpapers"><button class="red-button"><%= icon('desktop') %> Desktop Wallpapers</button></a></li>
        <li><a href="/fiasco"><button class="red-button"><%= icon('newspaper-o') %> Fiasco Playsets</button></a></li>
      </ul>
    </div>
  </div>

  <%# APPS %>
  <div class="home-section-wrapper" id="apps-wrapper">
    <div class="home-section" id="apps">
      <h5 class="section-title">Apps</h5>
      <table>
        <tbody>
          <tr>
            <td>
              <a href="http://www.hownowbrowncow.ca/chocolate-milk-ipsum" target="_blank"><button class="red-button"><%= icon('file-code-o') %> Chocolate Milk Ipsum</button></a>
            </td>
            <td>
              A Chocolate Milk themed <a href="http://www.lipsum.com/" target="_blank">Lorem Ipsum</a>-style "dummy text" generator.
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <%# GAMES %>
  <div class="home-section-wrapper" id="games-wrapper">
    <div class="home-section" id="games">
      <h5 class="section-title">Games</h5>
      <table>
        <tbody>
          <tr>
            <td>
              <a href="http://extreme-stopwatch.appstor.io/" target="_blank"><button class="red-button"><%= icon('apple') %> Extreme Stopwatch</button></a>
            </td>
            <td>
              Simple stopwatch game for iOS with scorestreaks and achievements. Currently unavailable until I renew my Apple Developer Account.
            </td>
          </tr>
          <tr>
            <td>
              <a href="http://tristen.unrau.me/rescape/" target="_blank"><button class="red-button"><%= icon('gamepad') %> Pocket Universe: Rescape</button></a>
            </td>
            <td>
              An <a href="https://en.wikipedia.org/wiki/Asteroids_(video_game)" target="_blank">Asteroids</a> clone with a trans-dimentional twist!
            </td>
          </tr>
          <tr>
            <td>
              <a href="http://tristen.unrau.me/pong/" target="_blank"><button class="red-button"><%= icon('gamepad') %> Digital Ping Pong</button></a>
            </td>
            <td>
              A <a href="https://en.wikipedia.org/wiki/Pong" target="_blank">Pong</a> clone with 2-Player and A.I. Opponent modes.
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <%# WEBSITES %>
  <div class="home-section-wrapper" id="websites-wrapper">
    <div class="home-section last-home-section" id="websites">
      <h5 class="section-title">Websites</h5>
      <table>
        <tbody>
          <tr>
            <td>
              <a href="http://hownowbrowncow.ca" target="_blank"><button class="red-button"><%= icon('external-link') %> How Now Brown Cow</button></a>
            </td>
            <td>
              Where I review chocolate milk!
            </td>
          </tr>
          <tr>
            <td>
              <a href="http://daxripley.com" target="_blank"><button class="red-button"><%= icon('external-link') %> Dax Ripley</button></a>
            </td>
            <td>
              The landing page for my music persona.
            </td>
          </tr>
          <tr>
            <td>
              <a id="confetti_button" onclick="easterEgg()"><button class="red-button"><%= icon('star') %> This Website</button></a>
            </td>
            <td>
              <span id="easter-egg">Click the button. You know you want to!</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <%# BLOG %>
  <div name="weblog" id="weblog"></div>
  <div class="home-section-wrapper" id="blog-home-wrapper">
    <div class="home-section" id="blog-home">
      <h5 class="section-title">Blog</h5>
      <div id="homepageposts">
        <%= render partial: 'posts' %>
      </div>
    </div>
  </div>

</div>

<script>
  // Enable the Easter Egg text to change to a random message that's different than the last one
  function easterEgg() {
    var oldText = $('#easter-egg').prop('innerHTML');
    var newText = oldText;
    function randomEgg() {
      var eggs = ["Good doggy!",
                  "WHEEEEEEEEEEEEEEE!!!",
                  "Surprise!",
                  "Do you do everything you're told to do?",
                  "Witness me!",
                  "Confetti falls from the ceiling. Make a bluff check to avoid appearing delighted."];
      function getRandomInt(min, max) {
        min = Math.ceil(min);
        max = Math.floor(max);
        return Math.floor(Math.random() * (max - min)) + min;
      }
      return eggs[getRandomInt(0, eggs.length)];
    }
    while (newText == oldText) {
      newText = randomEgg();
    }
    $('#easter-egg').text(newText);
  }
</script>
