<% title '' %>
<%#
---------
HOME PAGE
---------
%>

<div id="content-home">

  <div class="home-section-wrapper" id="introduction-wrapper">
    <div class="home-section" id="introduction">
      <%= image_tag "tristen.png", id: 'tristen' %>
      <div id="blurb">
        <h6>
          I write the words that manifest realms...<br />
          I send photons of my devising into your eyeballs...<br />
        </h6>
        <p>
          <span class="doer">Career:</span> MVC Front-End Web Developer<br />
          <span class="doer">Hobby:</span> Fiction Writer, Game Developer, Comedy Folk Singer / Song Writer<br />
          <span class="doer">Self-Proclaimed:</span> Chocolate Milk Connoisseur
        </p>
        <p><a href="mailto:tristen@unrau.me" class="button-square button-red"><%= icon('envelope') %> Email Me</a></p>
      </div>
    </div>
  </div>

  <%# STUFF %>
  <div class="home-section-wrapper" id="stuff-wrapper">
    <div class="home-section button-row" id="stuff">
      <h5>Stuff I Made</h5>
      <ul>
        <li><a href="/wallpapers" class="button-square button-red"><%= icon('desktop') %> Desktop Wallpapers</a></li>
        <li><a href="/fiasco" class="button-square button-red"><%= icon('newspaper-o') %> Fiasco Playsets</a></li>
      </ul>
    </div>
  </div>

  <%# WEBSITES %>
  <div class="home-section-wrapper" id="websites-wrapper">
    <div class="home-section last-home-section" id="websites">
      <h5>My Other Websites</h5>
      <table>
        <tbody>
          <tr>
            <td>
              <a href="http://hownowbrowncow.ca" target="_blank" class="button-square button-red"><%= icon('external-link') %> How Now Brown Cow</a>
            </td>
            <td>
              Where I review chocolate milk!
            </td>
          </tr>
          <tr>
            <td>
              <a href="http://daxripley.com" target="_blank" class="button-square button-red"><%= icon('external-link') %> Dax Ripley</a>
            </td>
            <td>
              Where I sing funny songs!
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div name="weblog" id="weblog"></div>
  <%# BLOG %>
  <div class="home-section-wrapper" id="blog-home-wrapper">
    <div class="home-section" id="blog-home">
      <h5>Web Log</h5>
      <div id="homepageposts">
        <%= render partial: 'posts' %>
      </div>
    </div>
  </div>

</div>
