
<%#
-------------------
FORM FOR BLOG POSTS
-------------------
%>

<%= form_for @article do |form| %>

  <% if @article.errors.any? %>
    <div class="form-errors">
      <h5>You forgot <%= pluralize(@article.errors.count, 'thing') %>:</h5>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="twelve columns">
      <%= form.label :title %>
      <%= form.text_field :title, :class => 'u-full-width' %>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <%= form.label :text %>
      <%= form.text_area :text, :class => 'u-full-width content-field' %>
      <div class="form-extras">
        YouTube URLs will embed the video<br />
        Other URLs well appear as links<br />
        <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">Markdown</a><br />
        <a href="http://www.emoji-cheat-sheet.com/" target="_blank">Emoji</a></span>
      </div>
    </div>
  </div>
  <p>&nbsp;</p>
  <div class="row">
    <div class="twelve columns">
      <%= form.submit 'Publish', class: 'button' %> <%= link_to 'Cancel', articles_path, :class => 'button' %>
    </div>
  </div>

<% end %>
