<% title 'Blog' %>
<%#
-------------------
ALL BLOG POSTS PAGE
-------------------
%>

<div id="content-blog" class="blog-all">

  <h5>Blog</h5>

  <% if admin_user? current_user %>
    <div id="blog-controls-wrapper">
      <div id="blog-controls">
        <%= link_to '+ New Post', new_article_path, :class => 'button' %>
      </div>
    </div>
  <% end %>

  <%= will_paginate %>

  <table class="u-full-width">
    <thead>
      <tr>
        <th>Title</th>
        <th>Date</th>
        <% if admin_user? current_user %>
          <th>Admin</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @articles.each do |a| %>
        <tr>
          <td><%= link_to a.title, article_path(a) %></td>
          <td><%= a.created_at.strftime("%d %b %Y") %></td>
          <% if admin_user? current_user %>
            <td><%= link_to 'Edit', edit_article_path(a) %> <%= link_to 'Delete', article_path(a), method: :delete, data: { confirm: 'Are you sure you want to delete this post? This cannot be un-done.'} %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= will_paginate %>

</div>
