
<%#
------------------
NEW BLOG POST PAGE
------------------
%>

<div id="content-blog-new">

  <h4>New blog post</h4>

  <%= form_for :article, url: articles_path do |f| %>
    <div class="row">
      <div class="twelve columns">
        <%= f.label :title %><br />
        <%= f.text_field :title, :class => 'u-full-width' %>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <%= f.label :text %><br />
        <%= f.text_area :text, :class => 'u-full-width' %>
      </div>
    </div>
    <p>&nbsp;</p>
    <div class="row">
      <div class="twelve columns">
        <%= f.submit %> <%= link_to 'Cancel', articles_path, :class => 'button' %>
      </div>
    </div>
  <% end %>

</div>
