<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container">

      <div id="header-wrapper">
        <div id="header">
          <h2><%= image_tag "logo.png", id: 'logo' %></h2>
        </div>
        <div id="blurb">
          <p class="magic magic1">I write the words that manifest realms...</p>
          <p class="magic magic2">I send photons of my devising into your eyeballs...</p>
          <p>That's nerd parlance for "I'm a software developer".<br />
          I do full-stack MVC web development, empowered by a background in graphic design.</p>
        </div>
      </div>

      <div id="menu-wrapper">
        <div id="menu">
          <ul>
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'Blog', articles_path %></li>
          </ul>
        </div>
      </div>

      <div id="content-wrapper">
        <div id="content">
          <%= render 'shared/flash_messages' %>
          <%= yield %>
        </div>
      </div>

      <div id="footer-wrapper">
        <div id="footer">

          <h5>Tristen Unrau</h5>
          <p>Copyright &copy;<%= Date.current.year %></p>

          <div id="admin-menu-wrapper">
            <div id="admin-menu">
              <% if logged_in? %>
                <%= link_to current_user.name, current_user, class: 'button-square button-black' %>
                <%= link_to 'Sign Out', logout_path, class: 'button-square button-black' %>
                <%= link_to 'Users', users_path, class: 'button-square button-black' %>
              <% else %>
                <%= link_to 'Sign In', login_path, class: 'button-square button-black' %>
              <% end %>
            </div>
          </div>

        </div>
      </div>

    </div>
  </body>
</html>
