<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div id="main-wrapper">

      <div id="header-wrapper">
        <div id="header">
          <h2><%= image_tag "logo.png", id: 'logo' %></h2>
        </div>
      </div>

      <div id="menu-wrapper">
        <div id="menu">
          <ul>
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'Blog', articles_path %></li>
            <li><a href="#">Portfolio</a></li>
          </ul>
        </div>
      </div>

      <div id="content-wrapper">
        <div id="content">
          <%= render 'shared/flash_messages' %>
          <%= yield %>
        </div>
      </div>

      <div id="footer-wrapper">
        <div id="footer">

          <h5>Tristen Unrau</h5>
          <p>Copyright &copy;<%= Date.current.year %></p>

          <div id="admin-menu-wrapper">
            <div id="admin-menu">
              <% if logged_in? %>
                <ul>
                  <li>
                    <%= link_to current_user, class: 'button-square button-black' do %>
                      <%= icon('user') %> <%= current_user.name %>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to logout_path, class: 'button-square button-black' do %>
                      <%= icon('sign-out') %> Sign Out
                    <% end %>
                  </li>
                  <li>
                    <%= link_to users_path, class: 'button-square button-black' do %>
                      <%= icon('group') %> Users
                    <% end %>
                  </li>
                </ul>
              <% else %>
                <%= link_to login_path, class: 'button-square button-black'  do %>
                  <%= icon('sign-in') %> Sign In
                <% end %>
              <% end %>
            </div>
          </div>

        </div>
      </div>

    </div>
  </body>
</html>
