<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name=viewport content='width=700' />
  </head>
  <body>
    <canvas id="confetti_canvas"></canvas>

    <div id="main-wrapper">

      <div id="header-wrapper">
        <div id="header">
          <h2><%= link_to 'Tristen Unrau', root_path, id: 'header-title-link' %></h2>
        </div>
      </div>

      <div id="menu-sticky">
        <div id="menu-wrapper" class="menu">
          <div id="menu">
            <ul onmouseout="resetHeader()">
              <%# closing li tags ommited to remove spaces between inline-block elements %>
              <li onmouseover="changeHeader('HOME')">
                <a href="/" id="main-menu-home" alt="Home">
                  <%= icon('home') %>
                </a>
              <li onmouseover="changeHeader('TWITTER')">
                <a href="https://twitter.com/starbuckbeak" id="main-menu-twitter" target="_blank">
                  <%= icon('twitter') %>
                </a>
              <li onmouseover="changeHeader('LINKED IN')">
                <a href="http://ca.linkedin.com/in/tristenunrau" id="main-menu-linkedin" target="_blank">
                  <%= icon('linkedin') %>
                </a>
              <li onmouseover="changeHeader('GIT HUB')">
                <a href="https://github.com/unrau/" id="main-menu-github" target="_blank">
                  <%= icon('github') %>
                </a>
              <li onmouseover="changeHeader('CARTRDGE')">
                <a href="https://cartrdge.com/starbuckbeak" id="main-menu-cartrdge" target="_blank">
                  <%= icon('gamepad') %>
                </a>
            </ul>
          </div>
        </div>
      </div>

      <script>
        // Enable the main menu items to change the header text
        function changeHeader(desc) {
          $('#header-title-link').text(desc);
        }
        function resetHeader() {
          $('#header-title-link').text('TRISTEN UNRAU');
        }
      </script>

      <div id="content-wrapper">
        <div id="content">
          <%= render 'shared/flash_messages' %>
          <%= yield %>
        </div>
      </div>

      <div id="footer-wrapper">
        <div id="footer">

          <h6>Copyright &copy;<%= Date.current.year %> Tristen Unrau</h6>

          <div id="admin-menu-wrapper">
            <div id="admin-menu">
              <% if logged_in? %>
                <ul>
                  <li>
                    <%= link_to current_user, class: 'button-square button-black' do %>
                      <%= icon('user') %> <%= current_user.name %>
                    <% end %>
                  </li>
                  <% if admin_user?(current_user) %>
                    <li>
                      <%= link_to new_article_path, class: 'button-square button-black' do %>
                        <%= icon('plus') %> New Post
                      <% end %>
                    </li>
                  <% end %>
                  <li>
                    <%= link_to users_path, class: 'button-square button-black' do %>
                      <%= icon('group') %> Users
                    <% end %>
                  </li>
                  <li>
                    <%= link_to logout_path, class: 'button-square button-black' do %>
                      <%= icon('sign-out') %> Sign Out
                    <% end %>
                  </li>
                </ul>
              <% else %>
                <%= link_to login_path, class: 'button-square button-black'  do %>
                  <%= icon('sign-in') %> Sign In
                <% end %>
              <% end %>
            </div>
          </div>

        </div>
      </div>

    </div>
  </body>
</html>
