<!DOCTYPE html>
<html>
  <head>
    <title>Website Title</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

    <div id="header-wrapper">
      <div id="header">
        <h2>Website Title</h2>
      </div>
    </div>

    <div id="menu-wrapper">
      <div id="menu">
        <%= link_to 'Home', root_path %>
        <%= link_to 'Blog', articles_path %>
      </div>
    </div>

    <div id="content-wrapper">
      <div id="content">
        <%= yield %>
      </div>
    </div>

  </body>
</html>
