<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <script type="text/javascript">
      $(function() {
        var NUM_CONFETTI = 350,
        COLORS = [
          [85, 71, 106],
          [174, 61, 99],
          [219, 56, 83],
          [244, 92, 68],
          [248, 182, 70]
        ],
        PI_2 = 2 * Math.PI,
        DURATION = 3000; // 1 second

        var canvas = $('#confetti_canvas')[0];
        var context = canvas.getContext('2d');
        var xpos = 0.5;

        window.w = 0;
        window.h = 0;

        var resizeWindow = function() {
          window.w = canvas.width = window.innerWidth;
          window.h = canvas.height = window.innerHeight;
        };

        resizeWindow();

        var mouseMove = function(event) {
          xpos = event.pageX / window.w
        }

        var activate = function() {
          $('#confetti_canvas').addClass('visible');

          window.step = function() {
            var c, j, len, results = [];
            requestAnimationFrame(step);
            context.clearRect(0, 0, w, h);

            for (j = 0, len = confetti.length; j < len; j++) {
              c = confetti[j];
              results.push(c.draw());
            }

            return results;
          };

          $(window).on('resize', resizeWindow);
          $(document).on('mousemove', mouseMove);

          resizeWindow();
          setTimeout(deactivate, DURATION);

          window.step();
        }

        var deactivate = function() {
          $('#confetti_canvas').removeClass('visible');

          setTimeout(function() {
            window.step = function() {};

            $(window).off('resize', resizeWindow);
            $(document).off('mousemove', mouseMove);
          }, 500);
        }

        $('#confetti_button').on('click', activate);

        var randRange = function(a, b) {
          return parseInt((b - a) * Math.random() + a);
        }

        var drawCircle = function(x, y, r, style) {
          context.beginPath();
          context.arc(x, y, r, 0, PI_2, false);
          context.fillStyle = style;
          context.fill();
        }

        window.requestAnimationFrame = window.requestAnimationFrame ||
        window.webkitRequestAnimationFrame ||
        window.mozRequestAnimationFrame ||
        window.oRequestAnimationFrame ||
        window.msRequestAnimationFrame ||
        function(callback) {
          return window.setTimeout(callback, 1000 / 60);
        };

        var Confetti = (function() {
          function Confetti() {
            this.style = COLORS[~~randRange(0, 5)];

            this.rgb = "rgba(" +
            this.style[0] + "," +
            this.style[1] + "," +
            this.style[2];
            // no closing parenth, this gets added later when opacity is added

            this.r = ~~randRange(2, 6);
            this.r2 = 2 * this.r;

            this.replace();
          }

          Confetti.prototype.replace = function() {
            this.opacity = 0;
            this.dop = 0.03 * randRange(1, 4);
            this.x = randRange(-this.r2, w - this.r2);
            this.y = randRange(-20, h - this.r2);
            this.xmax = w - this.r;
            this.ymax = h - this.r;
            this.vx = randRange(0, 2) + (8 * xpos) - 5;
            this.vy = (0.7 * this.r) + randRange(-1, 1);
          };

          Confetti.prototype.draw = function() {
            var ref;
            this.x += this.vx;
            this.y += this.vy;
            this.opacity += this.dop;

            if (this.opacity > 1) {
              this.opacity = 1;
              this.dop *= -1;
            }

            if (this.opacity < 0 || this.y > this.ymax) {
              this.replace();
            }

            if (!((0 < (ref = this.x) && ref < this.xmax))) {
              this.x = (this.x + this.xmax) % this.xmax;
            }

            drawCircle(~~this.x, ~~this.y, this.r, this.rgb + "," + this.opacity + ")");
          };

          return Confetti;
        })();

        confetti = (function() {
          var j, ref, results = [];

          // witchcraft
          for (i = j = 1, ref = NUM_CONFETTI; 1 <= ref ? j <= ref : j >= ref; i = 1 <= ref ? ++j : --j) {
            results.push(new Confetti);
          }

          return results;
        })();
      });
    </script>
    <canvas id="confetti_canvas"></canvas>

    <div id="main-wrapper">

      <div id="header-wrapper">
        <div id="header">
          <h2>Tristen Unrau</h2>
        </div>
      </div>

      <div id="menu-sticky">
        <div id="menu-wrapper" class="menu">
          <div id="menu">
            <ul>
              <li><%= link_to 'Home', root_path %></li>
              <li><a href="https://twitter.com/starbuckbeak"><%= icon('twitter') %></a></li>
              <li><a href="http://ca.linkedin.com/in/tristenunrau"><%= icon('linkedin') %></a></li>
              <li><a href="https://github.com/unrau/"><%= icon('github') %></a></li>
              <li><a href="https://cartrdge.com/starbuckbeak"><%= icon('gamepad') %></a></li>
              <%#<li><a href="https://localsolo.com/vancouver-bc/profile/40733/"></a></li>%>
            </ul>
          </div>
        </div>
      </div>

      <div id="content-wrapper">
        <div id="content">
          <%= render 'shared/flash_messages' %>
          <%= yield %>
        </div>
      </div>

      <div id="footer-wrapper">
        <div id="footer">

          <h6>Copyright &copy;<%= Date.current.year %> Tristen Unrau</h6>

          <div id="admin-menu-wrapper">
            <div id="admin-menu">
              <% if logged_in? %>
                <ul>
                  <li>
                    <%= link_to current_user, class: 'button-square button-black' do %>
                      <%= icon('user') %> <%= current_user.name %>
                    <% end %>
                  </li>
                  <% if admin_user?(current_user) %>
                    <li>
                      <%= link_to new_article_path, class: 'button-square button-black' do %>
                        <%= icon('plus') %> New Post
                      <% end %>
                    </li>
                  <% end %>
                  <li>
                    <%= link_to users_path, class: 'button-square button-black' do %>
                      <%= icon('group') %> Users
                    <% end %>
                  </li>
                  <li>
                    <%= link_to logout_path, class: 'button-square button-black' do %>
                      <%= icon('sign-out') %> Sign Out
                    <% end %>
                  </li>
                </ul>
              <% else %>
                <%= link_to login_path, class: 'button-square button-black'  do %>
                  <%= icon('sign-in') %> Sign In
                <% end %>
              <% end %>
            </div>
          </div>

        </div>
      </div>

    </div>
  </body>
</html>
